/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 2, 2022, 9:55:29 AM
    Author     : Mamgbi Geofrey
*/
*{
    margin: 0;
}

header nav{
    width: 100%;
    padding: 0;
    background-color: whitesmoke;
    position: fixed;
    z-index: 9999;
}
header nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: seagreen;
    font-size: 18px;
    font-weight: bold;

}
header nav .header-div1{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 20px;
}
header nav .header-div1 h1{
    margin-left: 10px;
    font-size: 24px;
    float: left;
    text-shadow: seagreen;
}
header nav .header-div1 ul{
    display: inline-flex;

}
header nav .header-div1 ul li{
    float: right;
    list-style: none;
    margin-right: 30px;
}
header nav .header-div2{
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    height: 50px;
    padding-top: 30px;
}
header nav .header-div2 ul{
    display: inline-flex;
}
header nav .header-div2 ul li{
    list-style: none;
    margin-right: 20px;

}

header nav .header-div2-cart{
    display: inline-flex;
    margin-right: 20px;
}
.header-div2-cart img{
    width: 25px;
    height: 35px;
}
.header-div2-cart li{
    list-style: none;
    margin-right: 30px;
}

