:root {
    --font-family: url(../fontawesome-free-6.1.2-web/webfonts/fa-solid-900.woff2);
}

@font-face {
    font-family: jimbo-font ;
    src: url(../sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);

}


@font-face {
    font-family: fa-brands;
    src: url(../sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF);

}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #E5E5E5;
    margin: 0;
    width: 100%;
    padding: 0;
}

img#cart-img {
    height: 30px;
}

header {
    width: 100%;
    height: 100px !important;
    background: rgba(255, 255, 255, 1);
    align-items: center;
    padding: 0 20px;
    font-family: fa-brands;
    position: fixed;
    z-index: 9999;
    top: 0;
    color: black;


}

#header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
}

header > h2{
    font-family: jimbo-font;
}

div#header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;



}
.container-fluid-section{
    margin-top: 70px;
}
#product-section > h2{
    font-family: fa-brands;
}

hr {
    border: 1px solid black;
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: #000000 !important;
}
a:hover{
    text-decoration: none !important;
}

#category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

.category-list {
    margin: 0 20px 0 0;
    padding: 5PX;
}

.category-list:hover {
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
    padding: 5px;
    text-decoration: none;

}
#sign-in{
    margin-right: 30px;
}


#sign-in>a {
    margin-left: 30px;

}

#header2-left {
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-right: 30px;
}



/* product section */
 /*#product-section{*/
 /*     margin: 0;*/
 /*     position: absolute;*/
 /*     top: 50%;*/
 /*     left: 50%;*/
 /*     -ms-transform: translate(-50%, -50%);*/
 /*     transform: translate(-50%, -50%);*/
 /* }*/
/*}*/
.product-card{
    width:12rem;
    height:15rem;
    background: rgb(93, 93, 93);
    margin: 15px;
    border-radius: 20px;
}
.product-card:hover{
    background: rgba(93,93,93,0.5);
}
.shoes, .jackets, .jewellery,.shirts{
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    width: 100%;
    margin: 20px;

}
footer{
    position: absolute;
    /*bottom: 0;*/
    height: 500px;
    width: 100vw;
    background: #0e0e0e;
}
#nad-project{
    float:right;
    position:relative;
    color: white;
    bottom: 30px;
}
.product-card::after{
    content: "NAME";
    color: black;
    font-family:jimbo-font;
    position: absolute;
    bottom: -20px;
    float: left;
}

 /*==============css for the account creation page=========*/
      .account_details_container{
        width: 50%;
        margin: auto;
        background: whitesmoke;
        border-top: 3px solid #5cb874;
        border-bottom: 3px solid #5cb874;
        margin-top: 100px;

      }
      .account_details_container .form-spacing{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;

      }
      .account_details_container .form-spacing h4{
        background: white;
        padding-top: 20px;
        text-align: center;
        color: seagreen;
        padding-bottom: 10px;
      }
      .account_details_container .form-spacing .form-group:not(:last-child){
        margin-bottom: -5px;
      }
      .account_details_container .form-spacing .form-group input{
        height: 44px;
        border-radius: 4px;
        margin-top: 5px;
        margin-bottom: 20px;
        background: white;
        width: 96%;
        margin-left: 10px;
      }
      .account_details_container .form-spacing .form-group label{
        margin-left: 10px;
        font-weight: bold;
      }
      .account_details_container .form-spacing button{
        width: 100%;
        text-transform: uppercase;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        background: #5cb874;
        height: 44px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .redirect_to_sign_in{
        width: 50%;
        margin: auto;
        background: whitesmoke;
        margin-top: 40px;
        text-align: center;
      }
      .redirect_to_sign_in p{
        margin-top: 20px;
      }
      .redirect_to_sign_in a button{
        width: 50%;
        text-transform: uppercase;
        height: 44px;
        background: #5cb874;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      @media(max-width: 700px){
        .account_details_container, .redirect_to_sign_in{
          width: 98%;
        }
      }

      /*==========css for login page=========*/
      .account_login_container{
        width: 50%;
        margin: auto;
        background: whitesmoke;
        border-top: 3px solid #5cb874;
        border-bottom: 3px solid #5cb874;
        margin-top: 100px;

      }
      .account_login_container .form-spacing{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .account_login_container .form-spacing h4{
        background:white;
        text-align: center;
        color: green;
        padding-top: 10px;
        text-transform: uppercase;
        padding-bottom: 10px;

      }
      .account_login_container .form-spacing .form-group{
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .account_login_container .form-spacing .form-group input{
        height: 44px;
        border-radius: 4px;
        margin-top: 5px;
        margin-bottom: 20px;
        background: white;
        width: 96%;
        margin-left: 10px;
      }
      .account_login_container .form-spacing .form-group label{
        margin-left: 10px;
        font-weight: bold;
      }
      .account_login_container .form-spacing button{
        width: 100%;
        text-transform: uppercase;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        background: #5cb874;
        height: 44px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .redirect_to_sign_up{
        width: 50%;
        margin: auto;
        background: whitesmoke;
        margin-top: 40px;
        text-align: center;
      }
      .redirect_to_sign_up p{
        margin-top: 20px;
      }
      .redirect_to_sign_up a button{
        width: 50%;
        text-transform: uppercase;
        height: 44px;
        background: #5cb874;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 10px;

      }
      @media(max-width: 700px){
        .account_login_container, .redirect_to_sign_up{
          width: 98%;
        }
      }

