:root {
    --font-family: url(../fontawesome-free-6.1.2-web/webfonts/fa-solid-900.woff2);
}

@font-face {
    font-family: jimbo-font ;
    src: url(../sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);

}


@font-face {
    font-family: fa-brands;
    src: url(../sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF);

}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /*background-color: #E5E5E5;*/
     background-color: #f2f2f2;
    margin: 0;
    width: 100%;
    padding: 0;
}
/*header and the components styling*/ 

img#cart-img {
    height: 30px;
    color:#EBA239;
}

header {
    width: 100%;
    height: 100px !important;
    background: rgba(255, 255, 255, 1);
    align-items: center;
    padding: 0 20px;
    font-family: fa-brands;
    position: fixed;
    z-index: 9999;
    top: 0;
    color: black;


}
#header1 h2{
    font-weight:bolder;
}

#header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
}

header h2{
    font-family: jimbo-font;
}

div#header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;



}
/*carousel styling*/

.carousel-container{
    width:75% !important;
    margin:80px auto !important;
    /*height:80vh;*/
}
.carousel-inner h3{
    position: absolute;
    z-index: 1;
    color:white;
    background:rgba(255,255,255,0.5);
    padding:10px 30px;
}
 
 
.container-fluid-section{
    margin-top: 70px;
}
.product-section{
    position:relative;
    top:20px;
}
#product-section h2{
margin-left: 50px;
/*background-color:black ;*/
  background: #EBA239;
color:black;
padding:10px 120px;
text-align: center;
box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);

/*color:blue;*/
}

hr {
    border: 2px solid black !important;
    margin:0 30px 0 0 !important;
 
}

a {
    text-decoration: none;
    color: #000000 !important;
}
a:hover{
    text-decoration: none !important;
}
/*
#category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}*/

.category-list {
    margin: 0 20px 0 0;
    padding: 5PX;
}

.category-list:hover {
       background-color: #3B814E;
    color:#fff !important;
    padding: 5px;
    text-decoration: none;

}
#sign-in{
    margin-right: 30px;
}


#sign-in>a {
    margin-left: 30px;

}

#header2-left {
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-right: 30px;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top:10px ;
}
 
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin:20px 0;
}
.contentCard{
    /*width: 10%;*/
    width: 15%;
    margin: 20px 50px 20px;
    box-sizing: border-box;
    /*float: left;*/
    text-align: center;
    border-radius:20px;
     cursor: pointer; 
    /*padding-top: 10px;*/
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
    transition: .5s;
    background: #f2f2f2;
}
.product-section img{
    width: 100%;
}
.card-body{
    border-radius: 0 0 20px 20px !important;
}
.card-img-top{
    border-radius:20px 20px 0 0 !important;
    
}
/*.card-img{
    width: 20%;
    width: 15%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius:10px 10px 50px 50px;
     cursor: pointer; 
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
    transition: .5s;
    background: #f2f2f2;
}*/
.contentCard:hover{
    box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0, -5px);
}
 
p{
    text-align: center;
    color: #b2b2c3;
    padding: 0 8px;
}
.gallery h6{
    font-size: 15px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
button{
    font-family: mwine!important;
    width: 100%;
    height: 50px;
    border-radius: 0 0 20px   20px;
  background: #EBA239 !important;
    color: #f2f2f2;
    font-size: 20px;
    border: none;
    /*cursor: pointer;*/
    margin-top: 10px;
    transition: .4s;
    padding: 15px;
    outline: none;
}

.button-container:hover{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B814E;
     border-radius: 0 0 20px 20px;
 
}
.button-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color:#3B814E;
     border-radius: 0 0 20px 20px;
 

}

 
.fa-heart{
    font-size: 25px;
    cursor:pointer;
}
button:hover{
    background-color: #3B814E;
    color:white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
    font-family: jimbo;
}
/*@media screen and (max-width: 1400px){
    .content{
        width: 21%;
    }
}
@media screen and (max-width: 1100px){
    .content{
        width: 25%;
    }
}
@media screen and (max-width: 900px){
    .content{
        width: 30%;
    }
}
@media screen and (max-width: 510px){
    .content{
        width:70%;
    }
    button{
        height:50px;
    }
}*/
    

.products-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 20px;

}
footer{
    position: absolute;
    /*bottom: 0;*/
    height: 500px;
    width: 100vw;
    background: #0e0e0e;
}
#nad-project{
    float:right;
    position:relative;
    color: white;
    bottom: 30px;
}
 

 /*==============css for the account creation page=========*/
      .account_details_container{
        width: 50%;
        margin: auto;
        background: whitesmoke;
        border-top: 3px solid #5cb874;
        border-bottom: 3px solid #5cb874;
        margin-top: 100px;

      }
      .account_details_container .form-spacing{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;

      }
      .account_details_container .form-spacing h4{
        background: white;
        padding-top: 20px;
        text-align: center;
        color: seagreen;
        padding-bottom: 10px;
      }
      .account_details_container .form-spacing .form-group:not(:last-child){
        margin-bottom: -5px;
      }
      .account_details_container .form-spacing .form-group input{
        height: 44px;
        border-radius: 4px;
        margin-top: 5px;
        margin-bottom: 20px;
        background: white;
        width: 96%;
        margin-left: 10px;
      }
      .account_details_container .form-spacing .form-group label{
        margin-left: 10px;
        font-weight: bold;
      }
      .account_details_container .form-spacing button{
        width: 100%;
        text-transform: uppercase;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        background: #5cb874;
        height: 44px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .redirect_to_sign_in{
        width: 50%;
        margin: auto;
        background: whitesmoke;
        margin-top: 40px;
        text-align: center;
      }
      .redirect_to_sign_in p{
        margin-top: 20px;
      }
      .redirect_to_sign_in a button{
        width: 50%;
        text-transform: uppercase;
        height: 44px;
        background: #5cb874;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      @media(max-width: 700px){
        .account_details_container, .redirect_to_sign_in{
          width: 98%;
        }
      }

      /*==========css for login page=========*/
      .account_login_container{
        width: 50%;
        margin: auto;
        background: whitesmoke;
        border-top: 3px solid #5cb874;
        border-bottom: 3px solid #5cb874;
        margin-top: 100px;

      }
      .account_login_container .form-spacing{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .account_login_container .form-spacing h4{
        background:white;
        text-align: center;
        color: green;
        padding-top: 10px;
        text-transform: uppercase;
        padding-bottom: 10px;

      }
      .account_login_container .form-spacing .form-group{
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .account_login_container .form-spacing .form-group input{
        height: 44px;
        border-radius: 4px;
        margin-top: 5px;
        margin-bottom: 20px;
        background: white;
        width: 96%;
        margin-left: 10px;
      }
      .account_login_container .form-spacing .form-group label{
        margin-left: 10px;
        font-weight: bold;
      }
      .account_login_container .form-spacing button{
        width: 100%;
        text-transform: uppercase;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        background: #5cb874;
        height: 44px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .redirect_to_sign_up{
        width: 50%;
        margin: auto;
        background: whitesmoke;
        margin-top: 40px;
        text-align: center;
      }
      .redirect_to_sign_up p{
        margin-top: 20px;
      }
      .redirect_to_sign_up a button{
        width: 50%;
        text-transform: uppercase;
        height: 44px;
         
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 10px;

      }
      #heart-btn{
          font-size: 25px;
          color:white;
      }
      #heart-btn:checked{
          color:red;
          transition: 0.000000000005s;
      }
      .buy{
          display: flex;
          justify-content:space-between;
          width: 100%;
          align-items: center;
          font-family: fa-brands !important;
      }
      @media(max-width: 700px){
        .account_login_container, .redirect_to_sign_up{
          width: 98%;
        }
      }
      
      
 
    